<xmp>
    <br>
    <small>reset_password.txt:</small>
    Dear {{ user.username }},

    To reset your password click on the following link:

    {{ url_for('user.reset_password_request') }}

    If you have not requested a password reset simply ignore this message.
    And the html template
    <br>
    <small>reset_password.html:</small>
    <p>Dear {{ user.username }},</p>
    <p>
        To reset your password
        <a href="{{ url_for('user.reset_password_request') }}">
            click here
        </a>.
    </p>
    <p>Alternatively, you can paste the following link in your browser's address bar:</p>
    <p>{{ url_for('user.reset_password', token=token, _external=True) }}</p>
    <p>If you have not requested a password reset simply ignore this message.</p>
</xmp>