 <h1 class="mb-3">Portfolio</h1>
        <h4 class="m-5">Available funds ${{ current_user.usd }}
        {% block percent %}
            {% if percent_change > 0 %}
                <span class="badge bg-secondary bg-success">+{{ percent_change }}%</span>
            {% else %}
                <span class="badge bg-secondary bg-danger">{{ percent_change }}%</span>
            {% endif %}
            {% endblock %}
        </h4>
        {% if portfolio|length == 0 %}
            <h6>Portfolio is empty!</h6>
            <a class="btn btn-outline-info m-3" href="{{ url_for('user.home') }}">Start Trading Now</a>
        {% else %}
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th class="portfolio-table" scope="col">Ticker</th>
                    <th class="portfolio-table" scope="col">Price:</th>
                    <th class="portfolio-table" scope="col">Holding Amount:</th>
                    <th class="portfolio-table" scope="col">Current Holding Value (USD):</th>
                    <th class="portfolio-table" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for item in portfolio %}
                    <tr>
                        <td class="portfolio-table">{{ item['ticker'] }}</td>
                        <td class="portfolio-table">${{ item['price'] }}</td>
                        <td class="portfolio-table">{{ item['holding_amount'] }}</td>
                        <td class="portfolio-table">${{ item['current_holding_value'] }}</td>
                        <td class="portfolio-table"><a class="btn btn-outline-info"
                                                       href="{{ url_for('main.buy', ticker=item['ticker']) }}">Buy</a>
                            <a class="btn btn-outline-danger"
                               href="{{ url_for('main.sell', ticker=item['ticker']) }}">Sell</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}